# Ignorar archivos grandes
COVID19MEXICO2020.csv
COVID19MEXICO2020_PART.csv
COVID19MEXICO2021.csv
COVID19MEXICO2021_PART.csv
COVID19MEXICO2022.csv
COVID19MEXICO2022_PART.csv
COVID19MEXICO2023.csv
COVID19MEXICO2023_PART.csv
EDA_COVID_19.ipynb